.langgraph_api

# 개인 환경변수 및 API Key 파일 
.env
.env.local

# 파이썬 캐시 및 가상환경
__pycache__/
*.pyc
.venv/
venv/

# 대용량 raw 데이터 및 처리된 파일 폴더
raw/
data/

# Vector DB 및 RDB 로컬 데이터베이스 파일 (통합 위치: 프로젝트_루트/db_tmp)
db_tmp/
*.db
*.sqlite

# 시스템/에디터 파일
.DS_Store
.vscode/
.idea/

# ai agent
GEMINI.md
CLAUDE.me